<h1>Bienvenido {{name}}</h1>

<div class="container">

    {{#each products}}

    <div class="products">
        <h2 class="linea"> {{this.title}}</h2>

        <p>Precio: ${{this.price}}</p>
        <img src="/img/{{this.thumbnail}}" alt="{{this.description}}">
        <a href="/products/{{this._id}}" class="detail-link">
            <button class="success" type="button">Ver Detalles</button>
        </a>
    </div>

    {{/each}}

</div>
<div>
    {{#if hasPrevPage}}
    <a href="{{this.prevLink}}">
        << Anterior</a>
            {{/if}}
</div>
<br>
<div>
    {{#if hasNextPage}}
    <a href="{{this.nextLink}}">Siguiente >></a>
    {{/if}}
</div>