<h1>Agregar Nuevo Producto</h1>

<form id="formulario" class="form">
    <label for="title">Título:</label><br>
    <input type="text" name="title" id="title" required><br>
    <label for="description">Descripción:</label><br>
    <input type="text" name="description" id="description" required><br>
    <label for="price">Precio:</label><br>
    <input type="text" name="price" id="price" required><br>
    <label for="code">Código:</label><br>
    <input type="text" name="code" id="code" required><br>
    <label for="thumbnail">Imagen:</label><br>
    <input type="file" name="thumbnail" id="thumbnail" required><br>
    <label for="stock">Stock:</label><br>
    <input type="text" name="stock" id="stock" required><br>
    <br>
    <input type="submit" value="Agregar Producto" class="btn">
</form>
<hr>

<h1>Listado de Productos en Tiempo Real</h1>

<div class="container" id="listaProductos">
    {{#each products}}
    <div class="products" >

        <h2>{{this.title}}</h2>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: $ {{this.price}}</p>
        <p>Código: {{this.code}}</p>
        <img src="{{this.thumbnail}}" alt="Imagen del Producto">
        <br>
        <button class="delete" type="submit" data-productid="{{this.id}}" >Eliminar</button>

    </div>
    {{/each}}
</div>